* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0px;
}

a:link {
  color: inherit;
}

header {
  width: 100%;
}

nav {
  /*vertical-align: top;
  display: inline-block;
  justify-content: space-between;*/
  height: 35px;
  padding: 25px;
}

footer {
  vertical-align: bottom;
  display: inline-block;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 35px;
  padding: 25px;
}

footer p {
  margin: 0px;
}

ul {
  display: inline-block;
  margin: 0px;
}

li {
  color: rgb(231, 86, 45);
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin: 2px;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

hr {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.18);
}

#price {
  color: #ffffff;
  font-size: 22px;
}

.product {
  width: 100%;
  display: block;
  background: #ff512f;
  /* For browsers that do not support gradients */
  background: linear-gradient(to right, #dd2475, #ff512f);
  /* Standard syntax */
}

.product h1, .product h2, .product p {
  color: white;
}

.product p {
line-height: 1.5;
}

.product h1 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.product h3 {
  color: rgba(0, 0, 0, 0.3);
}

.productInfo {
  max-width: 1024px;
  margin: 0px auto;
}

#menuleft {
  text-align: left;
  display: block;
  margin-right: 100px;
  float: left;
}

#menuright {
  text-align: right;
  display: block;
  margin-left: 100px;
  float: right;
}

#prodImage {
  align-content: center;
  padding: 0px;
  box-sizing: border-box;
}

#prodimageinner {
  max-width: 1024px;
  margin: 0px auto;
  display: flex;
  grid-template-columns: 50% 50%;
  padding: 20px;
}

#sneaker img {
  object-fit: contain;
}

#menuleft img {
  float: left;
}

#sneaker {
  width: 50%;
  padding-right: 20px;
}

#button {
  display: inline-block;
  padding: 12px;
  background-color: white;
  color: #ff512f;
  line-height: 1.4;
  border-radius: 10px;
  margin-left: 25px;
  font-size: 18px;
  text-decoration: none;
}

#prodDes {
  width: 50%;
}

#prodRec {
  padding: 20px 0px;
}

#prodRecInner {
  align-content: center;
  max-width: 1024px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

#prodRecInner img {
  width: 100%;
}

#RecHeadline {
  text-align: center;
  background-color: rgb(254, 235, 239);
  padding: 1px;
      margin-top: 75px;
}

#productInfoHead {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid #ffd4e7;
    color: rgb(231, 86, 45);
}

#women {
  color: rgb(179, 41, 0);
  border-bottom: 3px solid rgb(252, 192, 191);
}

#productInfoHead p {
  text-align: right;
}

#productInfoHead h3 {
  margin: 0px;
  padding: 0px 0px;
}

#under {
  padding: 17.6px 0px;
  display: inline-block;
  border-bottom: 2px solid #ffd4e7;
  margin-right: 15px;
  color: rgb(179, 41, 0);
}

#RecHeadline h1 {
  margin: 0px;
}

#prodRecInner div {
  padding: 15px;
}

#price sup {
  font-size: 16px;
}

#fun {
  margin-right: 30px;
}

#prodRecInner sup {
  font-size: 16px;
}

#footerUnder {
    text-decoration: underline;
}

#reviews {
    color: rgba(0, 0, 0, 0.3);
    /* float: right; */
    text-align: right;
    display: block;
}

#details p {
    color: grey;
}
